body {
    background-color: #00B215;
}

h1 {
    text-align: center;
}

article {
    background:#FF004A;
    border:1px solid #AAA;
    border-bottom:3px solid #BBB;
    padding:0px;
    margin:15px;
    overflow:hidden;
    border-radius: 10px;
    font-size: 20px;
}

img {
    width:170px;  you can use % 
    height: auto;
    float: right;
    margin: 20px;
    margin-top:0px;
    border-radius: 10px;
}

ul {
    list-style: none;
}

form {
    margin: 20px;
    width: 20%;
}